*
{
margin:0;
padding:0;
}
.main
{
background-image:url("bgcoffee.jpg");
background-repeat:no-repeat;
background-attachment:fixed;
background-size:cover;
}
.navitem
{
width:1200px;
heigth:75px;
margin:auto;
}
.logo
{
color:burlywood;
font-size:35px;
font-family:algerian;
padding-left:20px;
float:left;
padding-top:10px;
}
.navitem
{
width:400px;
float:left;
height:70px;
}
ul
{
float:left;
display:flex;
justify-content:center;
align-items:center;
}
ul li
{
list-style:none;
margin-left:62px;
margin-top:27px;
font-size:14px;
}
ul li a
{
text-decoration:none;
color:burlywood;
font-family:stencil;
font-weight:bold;
transition:.5s;
}
ul li a:hover
{
color:white;
}
.content
{
width:1200px;
height:auto;
margin:auto;
position:relative;
}
.first
{
color:burlywood;
font-family:broadway;
}
.second
{
color:burlywood;
font-family:baskerville old face;
}
.three
{
color:white;
font-family:lucida calligraphy;
}
.btn
{
width:100px;
height:40px;
background:crimson;
margin-top:13px;
color:white;
font-size:15px;
border-radius:12px;
transition:.5s;
cursor:pointer;
}

